<div id="HomeGui" class="gui">
	<style>
		#HomeGui{
			background: #F0F0F0;
			overflow: auto;
			vertical-align: middle;
			display: flex;
			/* flex-direction: column; */
			align-items: stretch;
		}
		#Editor{
			transition: width 0.1s, height 0.1s, min-width 0.1s, min-height 0.1s;
			background-attachment: scroll;
			cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARAgMAAABGA69pAAAADFBMVEX///9HcEz///8AAACdIYivAAAAAnRSTlOYAM8LzSoAAAArSURBVHheYwgNaQ11YAgNe4qdhMiGigJJrZaWVQwM+x89+t8AYUPEiTEBAOevIpexCAVKAAAAAElFTkSuQmCC) 8 8, auto;/* mlg hit marker */
		}
		#EditorCenter{
			/* padding: 5%; */
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			margin: auto;
			user-select: none;
		}
		#EditTools{
			width: 100px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			/* background: #4F9BD6; */
		}
		#EditTools .basic{
			background-size:30px;
			background-position:center;
			background-repeat:no-repeat;
			height:35px;
			width:35px;
			border-radius:2px;
			margin: 2px;
		}
		
	</style>
	<div style="display: contents;height: 100%;">
		<div id="EditorCenter">
			<div style="
			vertical-align: middle;
			display: inline-block;
			text-align: left;
			padding: 5%;">
				<div class="ImageView">
					<canvas width=600 height=400 id="Editor"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="bar" id="EditTools"></div>
	<script>
		homeGui=document.currentScript.parentNode;
		homeGui.removeChild(document.currentScript);
		content.appendChild(homeGui);

		homeGui.editor=homeGui.querySelector("#Editor");
		homeGui.scal=500;
		homeGui.actualScale=1;
		homeGui.force=1;
		
		homeGui.editTools=homeGui.querySelector("#EditTools");
		homeGui.activeTool=null;

		homeGui.setTool=function(toolBtn){
			if(homeGui.activeTool)homeGui.activeTool.removeAttribute("active");
			homeGui.activeTool=toolBtn;
			toolBtn.setAttribute("active","");
		}
		homeGui.addTool=function(btn,tool){
			if(tool){
				btn.tool=tool;
				btn.onclick=()=>homeGui.setTool(btn);
			}
			homeGui.editTools.appendChild(btn);
		}

		// homeGui.addEventListener('pointermove',e=>{
		// 	console.log(e.pointerType,e)
		// });

		var lastToolX;
		var lastToolY;
		
		var mouseBtns={right:false,left:false,middle:false};

		window.onmousedown=function({clientX,clientY,button}){
			switch(button){
				case 0:mouseBtns.left=true;break;
				case 1:mouseBtns.middle=true;break;
				case 2:mouseBtns.right=true;break;
			}
			var rect=homeGui.editor.getBoundingClientRect();
			lastToolX=(clientX-rect.left)/this.actualScale;
			lastToolY=(clientY-rect.top)/this.actualScale;
			homeGui.activeTool.tool.run(homeGui.editor.getContext("2d"), lastToolX,lastToolY, lastToolX,lastToolY);
		}
		window.onmouseup=function({button}){
			switch(button){
				case 0:mouseBtns.left=false;break;
				case 1:mouseBtns.middle=false;break;
				case 2:mouseBtns.right=false;break;
			}
		}
		window.onmouseleave=function(){
			mouseBtns.left=false;
			mouseBtns.middle=false;
			mouseBtns.right=false;
		}
		
		homeGui.onmousemove=function({clientX,clientY,button}){
			var rect=homeGui.editor.getBoundingClientRect()
				x=(clientX-rect.left)/this.actualScale,
				y=(clientY-rect.top)/this.actualScale;
			homeGui.activeTool.tool.run(homeGui.editor.getContext("2d"), x,y, lastToolX,lastToolY);
			lastToolX=x;
			lastToolY=y;
		}
		
		homeGui.onmousewheel=function(ev){
			if(!window.ctrl)return;
			if(ev){
				this.scal-=ev.deltaY;
				if(this.scal<0)this.scal=0;
			}

			var scale=Math.max(this.scal/500,0.05);
			scale=(scale+Math.pow(scale,2))/2;
			this.actualScale=scale;
			var e=this.editor,s=e.style;

			var prev=e.scrollWidth<homeGui.clientWidth;

			s.width=s.minWidth=e.width*scale+"px";
			s.height=s.minHeight=e.height*scale+"px";

			s.imageRendering=scale<1?"auto":"";
		};
		homeGui.setImage=function(image){
			var e=homeGui.editor;
			e.width=image.width;
			e.height=image.height;
			e.getContext("2d").drawImage(image,0,0);
			this.scal=500;
			homeGui.onmousewheel();
		}

		loadingView.onOpen=function(){
		};
		loadingView.onClose=function(){
		};
	</script>
	<script src="tools/EssentialTools.js"></script>
</div>