/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

*{
    -fx-font-smoothing-type: lcd;
}

.btn{
	-fx-background-color: inherit;
	-fx-background-radius: 0.0px;
	-fx-pref-height: 40.0px;
	-fx-max-height: 39.0px;
	-fx-text-fill: white;
	-fx-font-size: 13.0px;
}
.w40{
	-fx-min-width: 40.0px;
}
.w60{
	-fx-min-width: 60.0px;
}
.btn:hover{
	-fx-background-color: #4F9BD6;
	
}
.btn:active{
	-fx-background-color: white;
	
}
.bar{
	-fx-background-color: #1883D7;
	-fx-text-fill: white;
	-fx-pref-height: 40.0px;
	-fx-pref-width: 100.0%;
}
.bar *{
	-fx-text-fill: inherit;
}
#OptionsBar .btn{
	-fx-pref-width: 60.0px;
}


/* The main scrollbar CSS class of ListView */
.scroll-bar:horizontal ,
 .scroll-bar:vertical{
	-fx-background-color:transparent;

}

/* The increment and decrement button CSS class of scrollbar */
.increment-button ,.decrement-button {
	-fx-background-color:transparent;
	-fx-border-color:derive(gray,80.0%);
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
	-fx-background-color: transparent;
	 -fx-border-color:derive(gray,80.0%);
	 -fx-background-radius: 0.0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color:derive(black,90.0%);
	-fx-background-insets: 0.0, 0.0, 0.0;
	-fx-background-radius: 0.0em;

}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.scroll-bar:horizontal:hover .track ,
.scroll-bar:horizontal:pressed .track ,
.scroll-bar:vertical:hover .track,
.scroll-bar:vertical:pressed .track{
	-fx-background-color: derive(#434343,20.0%);

	 -fx-opacity: 0.2;
	 -fx-background-radius: 0.0em;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed{
	-fx-background-color: derive(black,50.0%);
}

.increment-button:hover ,.decrement-button:hover {
	-fx-background-color:derive(gray,100.0%);
	-fx-border-color:derive(gray,80.0%);	
	-fx-padding:10.0px;
}

.gui .bar *{
	-fx-min-height: 0px;
}

